@using ITstudyv4.ViewModels
@model IEnumerable<UserWithRolesVM>

@{ViewData["Title"] = "Wszyscy użytkownicy";}

<h2 class="text-center text-info">Wszyscy użytkownicy</h2>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Data dołączenia</th>
            <th>Ranga</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.JoinDate</td>
                <td>@user.Role</td>
                <td>
                    <a href="@Url.Action("EditUser", "Admin", new { id = user.UserId })" class="btn btn-warning">Moderuj</a>
                    <a href="@Url.Action("DeleteUser", "Admin", new { id = user.UserId })" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>W Moderuj powinny znajdować się opcje: Zbanuj, Nadaj rangę. Powinno też wyświetlać wszystkie informacje na temat użytkownika</p>