@using ITstudyv4.ViewModels
@model UserWithRolesVM
@{
    ViewData["Title"] = "Zarządzanie kontem";
}

<div class="row d-flex align-items-center justify-content-center">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }
    <div class="col-md-3 card p-3">
        <h2 class="text-center text-info">Ustawienia konta</h2>
        <div class="form-group text-center">
            @if (!string.IsNullOrEmpty(Model.ProfilePictureURL))
            {
                <img src="@Model.ProfilePictureURL" alt="Zdjęcie profilowe" class="img-thumbnail align-items-center rounded-circle" style="width: 150px; height: 150px; object-fit:cover;" />
            }
            else{<p>Nie ustawiono zdjęcia profilowego.</p>}
        </div>
        <a href="@Url.Action("ChangeProfilePicture", "Account", new { id = Model.UserId })" class="btn btn-info m-1">Zmień zdjęcie profilowe</a>
        <p>E-mail: @Model.Email</p>
        <a href="@Url.Action("ChangeEmail", "Account", new { id = Model.UserId })" class="btn btn-info m-1">Zmień Email</a>
        <a href="@Url.Action("ChangePassword", "Account", new { id = Model.UserId })" class="btn btn-info m-1">Zmień hasło</a>
        <p>Data Dołączenia:  @Model.JoinDate</p>
        @if (string.IsNullOrEmpty(Model.Bio))
        {<p>O sobie: Brak Opisu</p>}
        else
        {<p>O sobie: @Model.Bio</p>}
        <a href="@Url.Action("ChangeAboutMe", "Account", new { id = Model.UserId })" class="btn btn-info m-1">Zmień "O sobie"</a>
        <p>Ranga: @Model.Role</p>
        <a href="@Url.Action("DeleteAccount", "Account", new { id = Model.UserId })" class="btn btn-danger m-1">Usuń konto</a>
    </div>
</div>