@model IEnumerable<Threads>

@{
    ViewData["Title"] = "Wątki";
}

<h1>@ViewBag.CategoryName</h1>

<table class="table">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Użytkownik</th>
            <th>Wyświetlenia</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var thread in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Posts" asp-action="ShowAllPosts" asp-route-threadId="@thread.Id">
                        @thread.Title
                    </a>
                </td>
                <td>@thread.User?.UserName</td>
                <td>@thread.Views</td>
                <td>@thread.CreatedAt.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
