@using System.Security.Claims
@model ITstudyv4.ViewModels.PaginatedListVM<Threads>
@{
    ViewData["Title"] = "Wątki";
}

<h1 class="text-center bg-dark text-white p-2 mb-0 rounded-top">Wszystkie Tematy</h1>
<table class="table table-striped mt-0 table-hover">
    <thead class="table-dark">
        <tr>
            <th>Tytuł</th>
            <th>Użytkownik</th>
            <th>Wyświetlenia</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
        @* @* <a asp-action="AddNewThread" asp-route-categoryId="@ViewBag.CategoryId" class="btn btn-primary">Dodaj nowy temat</a> *@ @* Nie mamy osobnej stronki w której można podać do której kategori chcemy doać temat *@
        @foreach (var thread in Model.Items)
        {
            <tr>
                <td>
                    <a asp-controller="Posts" asp-action="ShowAllPosts" asp-route-threadId="@thread.Id" style="font-weight: bold; text-decoration: none;">
                        @thread.Title
                    </a>
                </td>
                <td>@thread.User?.UserName</td>
                <td>@thread.Views</td>
                <td>@thread.CreatedAt.ToShortDateString()</td>

                @if (thread.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier) || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <td><a asp-controller="Threads" asp-action="EditThread" asp-route-id="@thread.Id" class="btn btn-outline-dark ">Edytuj temat</a></td>
                    <td><a asp-controller="Threads" asp-action="DeleteThread" asp-route-id="@thread.Id" class="btn btn-outline-dark ">Usuń temat</a></td>
                }
            </tr>
        }

    </tbody>
</table>

<div class="pagination align-items-center">
    @if (Model.HasPreviousPage)
    {
        <a href="@Url.Action("ShowAllThreads", new { pageNumber = Model.CurrentPage - 1, pageSize = Model.PageSize })" class="btn btn-primary m-1">Poprzednia</a>
    }
    <span class="mx-2">Strona @Model.CurrentPage z @Model.TotalPages</span>
    @if (Model.HasNextPage)
    {
        <a href="@Url.Action("ShowAllThreads", new { pageNumber = Model.CurrentPage + 1, pageSize = Model.PageSize })" class="btn btn-primary m-1">Następna</a>
    }
</div>