@using System.Security.Claims
@model IEnumerable<Posts>

@{
    ViewData["Title"] = "Posty";
}

<h1>@ViewBag.ThreadTitle</h1>

<table class="table">
    <thead>
        <tr>
            <th>Treść</th>
            <th>Użytkownik</th>
            <th>Data utworzenia</th>
            <th>Edytowany</th>
        </tr>
    </thead>
    <tbody>
        <a asp-action="AddNewPost" asp-route-threadId="@ViewBag.ThreadId" class="btn btn-primary">Dodaj nowy post</a>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Content</td>
                <td>@post.User?.UserName</td>
                <td>@post.CreatedDate.ToShortDateString()</td>
                <td>@(post.Edited ? "Tak" : "Nie")</td>

                @if (post.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier) || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <td><a asp-controller="Posts" asp-action="EditPost" asp-route-id="@post.Id">Edytuj post</a></td>
                    <td><a asp-controller="Posts" asp-action="DeletePost" asp-route-id="@post.Id">Usuń post</a></td>
                }
            </tr>
        }
    </tbody>
</table>
